<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">

    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script  src="/js/check_form3.js"> </script>

    <link rel='stylesheet' href="/css/bootstrap.min.css" type='text/css' media='all'>
    <link rel='stylesheet' href="/css/add.css" type='text/css' media='all'>

    <title></title>
</head>

<body>
<div class="wrapper container">
    <header><img src="../pictures/up.jpg" id="head"></header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{{active[0]}}"><a href="/goods">Товары</a></li>
                    <li class="{{active[1]}}"><a href="/articles">Статьи</a></li>
                    <li class="{{active[2]}}"><a href="/cart">Корзина</a></li>
                    {% if rights === "admin" || rights === "moderator" %}
                    <li class="{{active[3]}}"><a href="/add_g">Админ</a></li>
                    {% endif%}
                </ul>
                <a href="/login"><button type="submit" id="log"class="btn btn-primary pull-right" >Войти</button></a>
                <a href="/register"><button type="submit" id="reg"class="btn btn-default pull-right" >Регистрация</button></a>
            </div><!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/add_g">Goods_add</a></li>
        <li role="presentation"><a href="/add_a">Articles_add</a></li>
        <li role="presentation"><a href="/all_art">Articles</a></li>
        <li role="presentation"><a href="/all_goo">Goods</a></li>
        {% if rights === "admin" %}
        <li role="presentation" class="active"><a href="/stuff">Stuff</a></li>
        {% endif%}

        <li role="presentation"><a href="/orders">Orders</a></li>
    </ul>
    <div class = "col-sm-12" >
        <div class="my_drop">
            <div class="dropdown" id="sort_d">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сортировать<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="all_goo?sort=az">А-Я</a></li>
                    <li><a href="all_goo?sort=za">Я-А</a></li>
                    <li><a href="all_goo?sort=low">от дешевых к дорогим</a></li>
                    <li><a href="all_goo?sort=high">от дорогих к дешевым</a></li>
                </ul>
            </div>
        </div>

        <!--<form class="navbar-form navbar-right" role="search" id="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Поиск</button>
        </form>-->
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
			<th>Логин</th>
            <th>Должность</th>
            <th>Ред.</th>
            <th>Удалить</th>
        </tr>
        </thead>
        {{x._id}}
        <tbody>
        {% for x in xxx%}
        <tr class="tr_t">
            <td>{{x.name}}</td>
            <td>{{x.surname}}</td>
			<td>{{x.login}}</td>
            <td>{{x.position}}</td>
            <td><button class="red"><span class="glyphicon glyphicon-pencil" ></span></button></td>
            <td><button class="del"><span class="glyphicon glyphicon-trash" ></span></button></td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <div class = "col-sm-12">

    </div>
    <button><span class="glyphicon glyphicon-plus" id="add"></span></button>
    <h4 class="hide" id="h4">Вы уверенны, что хотите удалить?</h4>
    <form method="post" role="form" class ="form_check hide" id="stuff"accept-charset="utf-8" enctype="multipart/form-data">
        <div class="form-group">
            <input  id="add_red"class="hide" name="add_red" value="add">
        </div>
        <div class="form-group">
            <label for="name">Имя</label>
            <input  name = "name"class="form-control name-field" id="name" placeholder="Имя сотрудника">
            <p class="help-block rfield_error">Заполните поле, пожалуйста</p>
        </div>
        <div class="form-group">
            <label for="surname">Фамилия</label>
            <input id="surname" class="form-control sur-field"name="surname" placeholder="Фамилия сотрудника">
            <p class="help-block rfield_error">Заполните поле, пожалуйста</p>
        </div>
        <div class="form-group" id="log_in1">
            <label for="log_in">Логин для входа</label>
            <input  name = "log_in"class="form-control log-field" id="log_in">
            <p class="help-block rfield_error">Заполните поле, пожалуйста</p>
        </div>
        <div class="form-group" id = "pas1">
            <label for="pas">Пароль для входа</label>
            <input  name = "pas"class="form-control pas-field" id="pas">
            <p class="help-block rfield_error">Заполните поле, пожалуйста</p>
        </div>
        <label>Должность</label>
        <div class="form-group">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="optionsRadios" id="radio1" value="option1" >
                    admin
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="optionsRadios" id="radio22" value="option2" checked>
                    moderator
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="optionsRadios" id="radio3" value="option3">
                    user
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-success" >Add</button>
    </form>


<footer></footer>
</div>
</body>
</html>